<h2>Images</h2>
<p><img src="https://voidspiral.gitlab.io/imghost/fonts/Tecatoa/Tecatoa.jpg" /></p>
<p><img src="https://voidspiral.gitlab.io/imghost/fonts/Tecatoa/Tecatoa_lipsum.png" /></p>
<p><img src="https://voidspiral.gitlab.io/imghost/fonts/Tecatoa/Tecatoa_cover.png" /></p>
<h2>Included Files</h2>
<ul>
<li>Tecatoa.jpg</li>
<li>Tecatoa_lipsum.png</li>
<li>Tecatoa_cover.png</li>
<li>Tecatoa.otf</li>
<li>Tecatoa.woff</li>
<li>license.txt</li>
</ul>
<h2>License</h2>
<p>This font is licensed under the SIL Open Font License, meaning you can use this font for personal or commercial use.</p>
<p><a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&amp;id=OFL"><img src="https://voidspiral.gitlab.io/imghost/ofl/PNG/OFLLogoRectBW.png" /></a></p>