<h2>Images</h2>
<p><img src="https://voidspiral.gitlab.io/imghost/fonts/Zrool/Zrool.jpg" /></p>
<p><img src="https://voidspiral.gitlab.io/imghost/fonts/Zrool/Zrool_lipsum.jpg" /></p>
<p><img src="https://voidspiral.gitlab.io/imghost/fonts/Zrool/Zrool_cover.png" /></p>
<h2>Included Files</h2>
<ul>
<li>Zrool.jpg</li>
<li>Zrool_lipsum.jpg</li>
<li>Zrool_cover.png</li>
<li>Zrool.otf</li>
<li>Zrool.woff</li>
<li>license.txt</li>
</ul>
<h2>License</h2>
<p>This font is licensed under the SIL Open Font License, meaning you can use this font for personal or commercial use.</p>
<p><a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&amp;id=OFL"><img src="https://voidspiral.gitlab.io/imghost/ofl/PNG/OFLLogoRectBW.png" /></a></p>