<h2>Images</h2>
<p><img src="https://voidspiral.gitlab.io/imghost/fonts/Myzephia/Myzephia.jpg" /></p>
<p><img src="https://voidspiral.gitlab.io/imghost/fonts/Myzephia/Myzephia_lipsum.png" ></p>
<p><img src="https://voidspiral.gitlab.io/imghost/fonts/Myzephia/Myzephia_cover.png" ></p>
<h2>Included Files</h2>
<ul>
<li>Myzephia.jpg</li>
<li>Myzephia_lipsum.png</li>
<li>Myzephia_cover.png</li>
<li>Myzephia.otf</li>
<li>Myzephia.woff</li>
<li>license.txt</li>
</ul>
<h2>License</h2>
<p>This font is licensed under the SIL Open Font License, meaning you can use this font for personal or commercial use.</p>
<p><a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&amp;id=OFL"><img src="https://voidspiral.gitlab.io/imghost/ofl/PNG/OFLLogoRectBW.png" /></a></p>